.js-training-container {
  position: relative;
}

.js-training {
  position: relative;
  z-index:10;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  margin: 10px;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.js-training li {
  -webkit-flex: 1;
  flex: 1;
  margin: 0;
  padding: 0;
  height: 40px;
  line-height: 40px;

  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 130%;
  text-shadow: 0 1px 0 hsla(0, 0%, 0%, 0.3);
}

.js-training #firebrick {
  background-color: firebrick;
  font-weight: normal;
}

.js-training #chocolate {
  background-color: chocolate;
  font-weight: normal;
}

.js-training .mediumseagreen {
  background-color: mediumseagreen;
  font-weight: normal;
}

.js-training .turquoise {
  background-color: turquoise;
  font-weight: normal;
  text-align: right;
}

.js-training .turquoise input {
  background-color: turquoise;
  background-color: hsla(0, 0%, 0%, 0.1);
  box-sizing: border-box;
  width: 60px;
  height: 40px;
  border: none;
  margin-left: 30%;
  padding: 0 0 0 12px;

  font-size: 50%;
  color: inherit;
  text-shadow: inherit;
  text-align: center;
	vertical-align: top;
}

.js-training .steelblue {
  background-color: steelblue;
  margin: 0;
  height: 40px;
  font-size: 1;
  font-weight: normal;
}
